
<div mat-dialog-content class="form-dialog-height">
  <h1 mat-dialog-title>Let's cook something</h1>
  <div  fxShow.gt-sm="" fxShow="false">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">      
      <mat-stepper linear orientation="horizontal">
        <mat-step [stepControl]="recipe_name && slug && description && image">
          
          <ng-template matStepLabel>General Data</ng-template>
          <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label for="recipe_name">Recipe name</mat-label>
            <input  matInput  id="recipe_name" name="recipe_name" type="text"  formControlName="recipe_name" required>           
                  
            <mat-error *ngIf="recipe_name.invalid && (recipe_name.dirty || recipe_name.touched)&&recipe_name.errors?.required">Campo obligatorio</mat-error>
            <mat-error *ngIf="recipe_name.errors?.asyncValDirective">Ya existe</mat-error>
          
       
 
           
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label for="slug">Slug</mat-label>
          <input  matInput  id="slug" type="text" [value]='recipe_name' formControlName="slug">
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label for="img">Image</mat-label>
            <input  matInput  id="img" type="file" accept="image/*" formControlName="img" (change)="onFileSelect($event)">
        </mat-form-field>
 

        <mat-form-field appearance="fill">
            <mat-label for="description">Description</mat-label>
            <textarea  matInput  id="description"  formControlName="description"> </textarea>
        </mat-form-field>
   
      </div>
            
      <button mat-button matStepperNext (click)="$event.preventDefault()">Next</button>
      
      </mat-step>

    <mat-step [stepControl]="difficulty && category && steps">
      <ng-template matStepLabel>How can i do it</ng-template>
      <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>Difficulty</mat-label>
            <mat-select formControlName="difficulty">
                <mat-option *ngFor="let difficulty of difficulty_options$ | async" [value]="difficulty.id">
                    {{difficulty.name}}
                  </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let category of category_options$ | async" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <label for="steps">Steps</label>
            <textarea  matInput  id="steps" formControlName="steps" > </textarea>
        </mat-form-field>
      </div>
      <button mat-button matStepperNext (click)="$event.preventDefault()">Next</button>
      </mat-step>
    <mat-step>
      <ng-template matStepLabel>What is inside</ng-template>
        <div formArrayName="ingredients" fxLayout="row wrap" fxLayoutGap="10px">
        <div *ngFor="let ingredient of ingredients().controls; let i = index" [formGroupName]="i" fxLayout="row">

        <mat-form-field appearance="fill" fxFlex="25%">
          <mat-label>Producto</mat-label>
          <mat-select formControlName="product">
            <mat-option *ngFor="let product of product_options$ | async" [value]="product.id">
              {{product.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="25%">
          <mat-label for="cantidad">Cantidad</mat-label>
          <input  matInput  id="cantidad" type="number" formControlName="cantidad">
      </mat-form-field>
      
        <mat-form-field appearance="fill" fxFlex="25%">
          <mat-label>Medida</mat-label>
          <mat-select formControlName="measurement">
            <mat-option *ngFor="let measurement of measurement_options$ | async" [value]="measurement.id">
              {{measurement.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-slide-toggle
        class="example-margin" 
        formControlName="principal"      
        (click)="mainIngredientSlide(i)"
        >
      Principal
    </mat-slide-toggle>

        <!--<mat-radio-button formControlName="principal" name="principal" [value]="!principal" (click)="mainIngredient(i)">Ingrediente Principal</mat-radio-button>
        --><button mat-flat-button color="warn" (click)="removeIngredient(i)" fxFlex="25%"><i class="bi bi-trash"></i></button>
        </div>
      </div>
      <!-- Prevent default to avoid the early validation -->
      <button mat-flat-button color="warn" (click)="$event.preventDefault(); adicionarIngrediente()">Adicionar Ingrediente</button>  
      <button mat-flat-button color="primary" [disabled]="cant_ingredients == 0" type="submit">Cocinar</button>
    </mat-step>
    </mat-stepper>      
</form>
  </div>
  <!-- vista reducida -->
  <div  fxShow.sm="" fxShow.xs="" fxShow="false">
    <form [formGroup]="recipeForm" fxLayout="column">   

      <mat-form-field appearance="fill">
        <mat-label for="recipe_name">Recipe name</mat-label>
        <input  matInput  id="recipe_name" type="text" formControlName="recipe_name">
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <mat-label for="slug">Slug</mat-label>
      <input  matInput  id="slug" type="text" formControlName="slug">
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <mat-label for="img">Image</mat-label>
      <input  matInput  id="img" type="file" accept="image/*" formControlName="img">
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <mat-label for="description">Description</mat-label>
      <textarea  matInput  id="description"  formControlName="description"> </textarea>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Difficulty</mat-label>
      <mat-select formControlName="difficulty">
          <mat-option *ngFor="let difficulty of difficulty_options$ | async" [value]="difficulty.id">
              {{difficulty.name}}
            </mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of category_options$ | async" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <mat-form-field appearance="fill">
      <label for="steps">Steps</label>
      <textarea  matInput  id="steps" formControlName="steps" > </textarea>
    </mat-form-field>
    
    <div formArrayName="ingredients" fxLayout="row wrap"  fxFlex="100%">
      
      <div *ngFor="let ingredient of ingredients().controls; let i = index" [formGroupName]="i" fxFlex="100%" fxLayout="column" style="border-radius: 15px; position: relative; border: solid gray 1px; padding: 10px ; margin-bottom: 10px;"  >
        
        <p style="color: gray ;position: absolute; top: -25px; left: 10px; background-color: white; padding: 2px; border-radius: 15px;">Ingredient {{i+1}}</p>
      
        <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="product">
          <mat-option *ngFor="let product of product_options$ | async" [value]="product.id">
            {{product.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <mat-form-field appearance="fill" >
        <mat-label for="cantidad">Cantidad</mat-label>
        <input  matInput  id="cantidad" type="number" formControlName="cantidad">
    </mat-form-field>
    
      <mat-form-field appearance="fill" >
        <mat-label>Medida</mat-label>
        <mat-select formControlName="measurement">
          <mat-option *ngFor="let measurement of measurement_options$ | async" [value]="measurement.id">
            {{measurement.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    
      <mat-radio-button formControlName="principal" value="{{principal}}" >Ingrediente Principal</mat-radio-button>
    
      <button mat-flat-button color="warn" (click)="removeIngredient(i)" ><i class="bi bi-trash"></i></button>
      </div>
    </div>
    
    
    </form>
  </div>
</div>


{{this.recipeForm.value | json}} 

<button mat-flat-button color="primary" (click)="sendInfo()">Cocinar</button>