.avatar{
    border-radius: 60%;
    z-index: 5;
}

.border{
    border-style: solid;
 
}

.dropShadow{

    filter: drop-shadow(0 0 5px black);
}

/* .secondSquare{
    position: relative;
    z-index:1;
    overflow: hidden;
}

.secondSquare::after{
    position: absolute;
    content: '';
    z-index:1;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    transform: rotate(45deg); 
    background-blend-mode:overlay;
    border: white 5px solid;
    
} */
