.item-hover:hover{
background-color: rgba(36, 39, 41, 0.1);

border-radius: 10px ;
}

.item-hover{
    z-index: 1;
}

.text-hover:hover{
    cursor: pointer;
}



.nomencladores-action-button:hover{
    color: rgba(25, 113, 194, 1);
    cursor: pointer;
}

.back-arrow{
    transition: all ease 0.5s;
}

.back-arrow:hover{
    color: rgba(25, 113, 194, 1);
    cursor: pointer;
}

.container-width{
    width: 50%;
}

@media screen and (max-width: 500px)
{
.container-width{
    width: 100%;
}
}


