<div style="margin: 0 auto" fxLayoutAlign="center">
  <p style="font-size: 2em; text-align: center">Nomencladores</p>
  <div *ngIf="nomencladores_data == null">
    <mat-list #shoes>
      <div style="width: 50vw; margin: 0 auto">
        <mat-list-item *ngFor="let item of data" class="item-hover">
          <i dir="ltr" class="bi bi-box-seam" mat-list-icon></i>
          <div
            class="text-hover"
            dir="auto"
            mat-line
            fxFlexFill
            (click)="this.selectEvent(item.listAction)"
          >
            {{ item.name }}
          </div>
          <div dir="rtl">
            <i
              class="bi bi-plus-square-fill nomencladores-action-button"
              (click)="this.addClickEvent(item.action)"
              mat-list-icon
            ></i>
          </div>
        </mat-list-item>
      </div>
    </mat-list>
  </div>
  <div
    *ngIf="nomencladores_data != null"

    
    class="mat-elevation-z8 table"
  >
    <table
      mat-table
      [dataSource]="dataSource"
      style="width: 100%"
      matSort
    >
      <ng-container matColumnDef="no" style="width: 33%">
        <th mat-header-cell *matHeaderCellDef>No</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container matColumnDef="name" style="width: 33%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="slug" style="width: 33%">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Slug</th>
        <td mat-cell *matCellDef="let element">{{ element.slug }}</td>
      </ng-container>

      <ng-container matColumnDef="action" style="width: 33%">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <i (click)="delete(element.id)" class="bi bi-trash"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Header data -->
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="element-row"
      ></tr>
      <!-- Body data -->
    </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25]"
        #paginator
        showFirstLastButtons
      >      
      </mat-paginator>

        <button  (click)="nomencladores_data = null">Volver</button>
   
    </div>


</div>
