<div style="margin: 0 auto; min-height: 90vh;" fxLayoutAlign="center" >
  <p style="font-size: 2em; text-align: center">
    Nomencladores<span  [@inOutAnimation] *ngIf="nomencladorSelected != null">/{{this.nomencladorSelected}}</span>
    <i
      [@inOutAnimation]
      matTooltip="Volver"
      matTooltipPosition="below"
      class="bi bi-arrow-counterclockwise back-arrow"
      *ngIf="nomencladores_data != null"
      (click)="nomencladores_data = null"
      (click)="this.nomencladorSelectorName(0)"
    ></i>
  </p>


  <div style="position: relative; margin: 0 auto" class="container-width">
    <!-- The @input needs a value pass via dataBinding -->
    <div @inOutAnimation *ngIf="showMotivationText" fxLayoutAlign="center center" fxLayout="row">
      <div>
        <p style="font-size: 2em; text-align: center;">Todos tus problemas comienzan aqui.</p>
      </div>
      
    </div>
    <app-table
      [@inOutAnimation]
      style="margin: 0 auto; position: relative"
      *ngIf="nomencladores_data != null && !showForm"
      [data2]="selector"
    ></app-table>
    <!-- @output event emitter -->
    <app-items
      style="margin: 0 auto; position: absolute; left: 0px; top: 0px"
      (outputEvent)="selectEvent($event)"
      (creationEvent)="addClickEvent($event)"
      [@inOutAnimation]
      *ngIf="nomencladores_data == null && !showForm && !showMotivationText"
    ></app-items>

    <app-form
      [@inOutAnimation]
      [formType]="formNomencladorValue"
      (cancelEvent)="addClickEvent($event)"
      *ngIf="showForm && !showMotivationText"
    ></app-form>
  </div>
</div>
