

  <div class="dropShadow">
    <!-- First Part -->
    <div class="user-content">
    <h2 class="underline title-decorator">Personal Data:</h2>
    <div fxLayout="column" class="user-data">
      <p >
        <span class="text-decorator">Username:</span> 
        {{ userData.user_name }}
      </p>           
      <p >
        <span class="text-decorator">Full Name:</span> 
        {{ userData.first_name }} {{userData.last_name}}
      </p>     
      <p >
        <span class="text-decorator">Email:</span> 
        {{ userData.mail }}
      </p>
      <mat-divider></mat-divider>
      <div dir="rtl">
        <p > <span class="text-decorator">Last Login:</span> {{ userData.last_login|subString: 0:10 | date }}</p>
      </div>
    </div>
  </div>
<!-- Second part -->
<div class="user-content">
    <h2 class="underline title-decorator">Site Data:</h2>
    <div fxLayout="column" class="user-data">
      <p >
        <span class="text-decorator">Nivel:</span> 
        <ng-container *ngIf="userData.is_staff">
          Administrador
        </ng-container>
        <ng-container *ngIf="!userData.is_staff">
          Usuario
        </ng-container>
      </p>           
      <p >
        <span class="text-decorator">Account Status:</span> 
        <ng-container *ngIf="userData.is_active">
          Activada
        </ng-container>
        <ng-container *ngIf="!userData.is_active">
          No Activada
        </ng-container>
      </p>     
      <p >
        <span class="text-decorator">Cantidad de recetas creadas:</span> 
         {{userRecipe}}
      </p>
      
    </div>
  </div>
    <!-- Third part -->
    <div class="user-content" >
    <h2 class="underline title-decorator">Settings:</h2>
    <div fxLayout="row wrap" fxLayoutAlign="center center" class="user-data settings">
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="basic" (click)="searchRecipes()"><i fxFlexAlign="center" mat-button-icon class="bi bi-receipt menu_icon"></i> Ver Recetas</button>
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="basic" (click)="openPasswordDialog()"><i fxFlexAlign="center" mat-button-icon class="bi bi-lock-fill menu_icon"></i> Cambiar Contraseña</button>
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="basic" (click)="openAvatarDialog(1)"><i fxFlexAlign="center" mat-button-icon class="bi bi-person-fill menu_icon"></i> Cambiar avatar</button>
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="basic" (click)="openAvatarDialog(2)"><i fxFlexAlign="center" mat-button-icon class="bi bi-image-fill menu_icon"></i> Cambiar imagen</button>
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="basic"><i fxFlexAlign="center" mat-button-icon class="bi bi-pencil-square menu_icon"></i> Modificar Datos</button>
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="warn"><i fxFlexAlign="center" mat-button-icon class="bi bi-trash-fill menu_icon"></i> Eliminar Cuenta</button>
      <button fxFlex.lt-sm="100%" fxFlex="25" fxFlex.md="40" fxFlex.lg="40" fxFlex.sm="100" [ngStyle.lt-md]="{'text-align':'left'}"  fxFlexAlign="center" mat-button color="warn" (click)="logOut()"><i fxFlexAlign="center" mat-button-icon class="bi bi-door-open-fill menu_icon"></i> Log Out</button>    
    </div>
  </div>
    <!-- 
    <h1 class="underline">Site Data:</h1>
    <mat-list>
        <mat-list-item>
            <ng-container *ngIf="userData.is_staff"
              >Nivel: administrator</ng-container
            >
            <ng-container *ngIf="!userData.is_staff">Nivel: user</ng-container>
          </mat-list-item>
          <mat-list-item>
            <ng-container *ngIf="userData.is_staff"
              >Account Status: Activada</ng-container
            >
            <ng-container *ngIf="!userData.is_staff"
              >Account Status: : No activada</ng-container
            >
          </mat-list-item>
          <mat-list-item>
              Cantidad de recetas creadas: {{userRecipe}}
          </mat-list-item>
        </mat-list>

    <h1 class="underline">Configuración:</h1>
    

  </div>
 -->
   
  </div>

