.dropShadow {
    position: relative;
  width: 100%;
  margin: 0 auto;
 
   
  margin-top: 50px;
  margin-bottom: 25px;

  transition: all ease 0.5s;
}

.settings > button{
    margin: 10px;
}

.user-content{
    margin-bottom: 30px;
    padding-top: 30px;
    border-radius: 10px;
    z-index: -2;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

@media screen and (max-width: 640px){
    .dropShadow {
        width: 100%;
    }
}

/* .backgroundClipath
{
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    z-index: -1;
    margin: auto;
    text-align: center;
    background-color: white;
    width: 150px;
    height: 70px;
    border-radius: 0 0 200px 200px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
     
} */

.underline{
    position: relative;
}

.underline::after{
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    bottom: 0;
}

.title-decorator{
    color: rgb(50, 102, 165);
}

.text-decorator{
    color: rgb(71, 114, 167);
    font-weight: bold;
}

.user-data{
    padding-left: 15px;
}

.menu_icon
{
    font-size: 1.5em;
}
