<div  fxLayout="row wrap" fxLayoutAlign="center center" style="padding-top: 15px;"> 
  <div *ngIf="filters"  fxLayoutAlign="center center" fxFlexFill style="padding-top: 10px;">
    <mat-form-field
    appearance="standard"
      class="example-full-width"
      appearance="fill"
      fxFlexAlign="center"
      style="width: 80%; "
    >
      <mat-label>Nombre de receta</mat-label>
      <input
        #searchInput
        appInputHostListener
        [(ngModel)]='searchFilterText'
        type="text"
        appInputHostListener
        matInput
        placeholder="Arroz con frijoles"
      />
      <button
        *ngIf="searchInput.value != ''"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchFilterText = ''"
      >
        <i class="bi bi-x-lg"></i>
      </button>    
    </mat-form-field>
  </div>
  <mat-card class="card-mini-item" fxLayout="row" *ngFor="let recip of recipes | searchFilter: searchFilterText" style=" position: relative; height: 100.5px; width: 400px; margin: 15px;" >

    <img
    class="mat-card-image"
        mat-card-image
        src="{{ recip.img }}"
        style="width: 120px; height: 120px"
      />
    <mat-card-content  style="height: 100; width: 95%; padding-left: 100px;">
       
        <p style="margin-top: 5px;">{{ recip.name }}</p>
   
        <mat-card-actions dir="rtl" style="position: absolute; bottom: 0px; right: 15px;">
          <button mat-button (click)="openDetailRoute(recip.slug)">See more</button>
        </mat-card-actions>
    </mat-card-content>

  </mat-card>
  <div *ngIf="(recipes| searchFilter: searchFilterText).length == 0">
    No se encontró nada en el menu
  </div>
</div>
