.img-thumb {
  border-radius: 10px;
  background-color: whitesmoke;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: inset 0px 0px 100 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 100 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 100px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 960px){
  .box-shadow{
    padding-bottom: 10px;
  }
}

.background-gray-white {
  background-color: rgba(208, 211, 212, 0.1);
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.15);
  border: 1px solid #bbbbbb77;
 
}
