.background-gray-white{
    background-color: rgba(208, 211, 212, 0.1);
    border-radius: 10px;
}

.img-thumb {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 5px;
  }

 