
<div style="border: chartreuse 1px solid;" fxFlexFill>
    <div *ngIf='loadingResult' class="loading_spinner" fxLayoutAlign="center center" fxLayout="center" fxFlex="100%">
        <mat-spinner color='warn' [diameter]='75' style="position: absolute;"></mat-spinner>
        <mat-spinner color='accent' [diameter]='55' style="position: absolute;"></mat-spinner>
        <mat-spinner style="position: absolute;">
    
        </mat-spinner>
    </div>
    <app-cook-form (data)='recipeOutputDataReciver($event)' *ngIf='!filterOn && !loadingResult'></app-cook-form>

    <app-recipe-result [recipes_list]='recipe_list' fxFlexFill fxFlex="100%" *ngIf='filterOn && !loadingResult'></app-recipe-result>
</div>
