<mat-toolbar fxLayout="row"color="primary" fxLayoutAlign="space-between center"  fxLayout.xs="column" >    
    
    <mat-toolbar-row fxLayoutAlign.xs="center center" >
        <h4>Recipe APP</h4>
        
       
     
</mat-toolbar-row>  
<mat-toolbar-row  fxLayoutAlign="end center" fxLayoutAlign.xs="center center" fxLayoutGap="10px">
    <button mat-icon-button color="accent" (click)="setShowUnderMenu()" ><i class="bi bi-list"  style="font-size:2em;"></i></button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i class="bi bi-person-circle" style="font-size:2em;"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Log In</span>
        </button>
        <button mat-menu-item>
          <span>Sing up</span>
        </button>
      </mat-menu>
      
      
</mat-toolbar-row >

  
</mat-toolbar>

    <mat-toolbar *ngIf="showUnderMenu" [@inOutAnimation] color="primary" class="overAll" >
        <div fxLayoutAlign.gt-xs="center center" fxLayout="row"  fxLayout.xs="column" fxFill >
            <a [@inOutMenuAnimation]  routerLink="" mat-button color="primary" routerLinkActive="active">Recipe</a>
            <button  [@inOutMenuAnimation]  routerLink="login/" fxFlex="100" mat-button color="basic" >Login</button>
            <button [@inOutMenuAnimation]  fxFlex="100" mat-button color="basic" >Primary</button>
            <button  [@inOutMenuAnimation] fxFlex="100" mat-button color="basic" >Primary</button>
        </div>
   </mat-toolbar>



