.avatar{
    width: 40px;
    height: 40px;
    border-radius: 60%;
}

.font_menu_text{
    font-size: 1em;
    color: rgba(77, 74, 74);
    
}


.menu_icon{
    font-size: 1.3em;
    padding-right: 20px;
}

.overAll{
    position: absolute;
    z-index: 10;
    height: fit-content;
    min-width: 100%;
    min-height: fit-content !important;   

}

.backdropfilter{
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 600px){
    .overAll{
        position: absolute;
        z-index: 10;
        height: fit-content;
        min-width: 100%;
        min-height: fit-content !important;   
    }

}

.padding-lr-5{
    margin-left: 5px;
    margin-right: 5px;
   
}

.width-100{
    min-width: 100%;
}

.login_text{
    font-size: 1.4em;
}

.login_welcome{
    font-size: 1.2em;
}

.login_mail{
    font-size: 1em;
}
