<mat-toolbar fxLayout="row"color="primary" fxLayoutAlign="space-between center"  fxLayout.xs="column" >    
    
    <mat-toolbar-row fxLayoutAlign.xs="center center" >
        <h4>Recipe APP</h4>
        
       

</mat-toolbar-row>  
<mat-toolbar-row  fxLayoutAlign="end center" fxLayoutAlign.xs="center center" fxLayoutGap="10px">
    <button mat-icon-button color="accent" (click)="setShowUnderMenu()" ><i class="bi bi-list"  style="font-size:2em;"></i></button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <i   *ngIf="!isAuth" class="bi bi-person-circle" style="font-size:2em;"></i>
        <ng-container *ngIf="isAuth && getUserDataHeader() != null" >
          <app-avatar-image  [avatar]="getUserDataHeader().avatar"></app-avatar-image>
        </ng-container>
        
        <!-- <img   class="avatar" *ngIf="isAuth && getUserDataHeader() != null" src="{{getUserDataHeader().avatar}}"> -->
      </button>
      <mat-menu #menu="matMenu">
        <div *ngIf="isAuth && getUserDataHeader() != null" >
          
          <mat-list >
      
            <mat-list-item>
             
              <div mat-line class="login_welcome">Let's cook as</div>
              <div mat-line class="login_mail"> {{getUserDataHeader().email}} </div>
           
            </mat-list-item>

          </mat-list>
     

            <mat-divider style="margin: 5px"></mat-divider>        
         
          <button mat-menu-item  class="font_menu_text"  fxLayout="center none" [routerLink]="this.route.user.url"><i mat-button-icon class="bi bi-person-circle menu_icon"></i><span>{{this.route.user.name}}</span></button>
          <button mat-menu-item class="font_menu_text"  fxLayout="center none" (click)="searchRecipes()"><i mat-button-icon class="bi bi-journal-richtext menu_icon"></i><span>My recipe</span></button>
          <mat-divider style="margin: 5px"></mat-divider>
          <button mat-menu-item class="font_menu_text"  fxLayout="center none"><i mat-button-icon class="bi bi-box-arrow-right menu_icon"></i><span (click)="logOUt()">Log Out</span></button>
        </div>
        <button mat-menu-item routerLink="login/"  *ngIf="!isAuth">
          
          <span>Log In</span>
          
        </button>
        
        
        <button mat-menu-item *ngIf="!isAuth">
          <span>Sing up</span>
        </button>
      </mat-menu>
      
      
</mat-toolbar-row >

  
</mat-toolbar>

    <mat-toolbar *ngIf="showUnderMenu" [@inOutAnimation]  class="overAll " color="primary">
        <div fxLayoutAlign.gt-xs="center center" fxLayout="row"  fxLayout.xs="column" fxFill >
            <button [@inOutMenuAnimation] fxFlex="100" routerLink="" mat-button >Recipe</button>
            <button  [@inOutMenuAnimation]   fxFlex="100" mat-button color="basic" >Primary</button>
            <button [@inOutMenuAnimation]  fxFlex="100" mat-button >Primary</button>
            <button  [@inOutMenuAnimation]  fxFlex="100" mat-button  >Primary</button>
        </div>
   </mat-toolbar>

   




