<app-header (sideNavToogle)="sideNavToogle()"></app-header>
<mat-sidenav-container
  class="example-container"
  class="min-height-100"
  style="background-color: rgba(213, 213, 213, 0.2)"
>
  <mat-sidenav
    #sidenav
    mode="over"
    class="width-sidenav-40vh"
    style="background-color: rgba(26, 28, 28, 1)"
  >
    <mat-nav-list
      fxLayout="column"
      class="mat-nav-l"
      style="width: 90%; margin: 0 auto; margin-bottom: 20px"
    >
      <div
        fxLayout="column"
        style="font-size: 0.9em; margin-bottom: 10px; margin-top: 10px"
      >
        <span class="main_Name">Recipe </span>
        <span class="second_Name"> Opciones generales</span>
      </div>

      <button
        style="text-align: left"
        mat-button
        fxLayout="row"
        color="primary"
        routerLink="/"
        (click)="sideNavToogle()"
      >
        <span
          class="bi bi-receipt"
          style="font-size: 1.4em !important; color: white;"
          fxFlexAlign="center"
        ></span>
        <span fxFlexAlign="center" class="button-text-not-relative">Recipe</span>
      </button>

      <a
        mat-button
       
        color="primary"
        [routerLink]="this.route.whatDoICookToday.url"
        (click)="sideNavToogle()"
        class="button-container"
      >
        <i
          class="bi bi-egg-fill icon icon-rotate-animation"
          fxFlexAlign="center"
        ></i>
        <span fxFlexAlign="center" class="button-text">{{
          this.route.whatDoICookToday.name
        }}</span>
      </a>

      <button
        mat-button
        class="button-container"
        color="primary"
        *ngIf="this.isUserAuth()"
        fxLayoutAlign="start center"
        (click)="openCreateDialog()"
        (click)="sideNavToogle()"
      >
        <i class="bi bi-plus-square-fill icon" fxFlexAlign="center"></i>
        <span fxFlexAlign="center" class="button-text-not-relative"
          >Cocinar Receta</span
        >
      </button>

      <!--<button mat-button color="primary" [disabled]="!this.isUserAuth()" (click)="this.openSnackService()" fxFill>SnackBarTest</button>
                 -->
    </mat-nav-list>

    <mat-nav-list
      fxLayout="column"
      style="width: 90%; margin: 0 auto; margin-bottom: 20px"
    >
      <div
        fxLayout="column"
        style="font-size: 0.9em; margin-bottom: 10px; margin-top: 10px"
      >
        <span class="main_Name">Usuario</span>
        <span class="second_Name">
          It's dangeroes to go alone, take this</span
        >
      </div>

      <button
      style="text-align: left"
      mat-button
      fxLayout="row"
      color="primary"
      [routerLink]="this.route.user.url"
      (click)="sideNavToogle()"
    >
      <span
        class="bi bi-person-circle"
        style="font-size: 1.4em !important; color: white;"
        fxFlexAlign="center"
      ></span>
      <span fxFlexAlign="center" class="button-text-not-relative">{{
        this.route.user.name
      }}</span>
    </button>
      <button mat-button color="primary">Action</button>
    </mat-nav-list>

    <mat-nav-list
      fxLayout="column"
      style="width: 90%; margin: 0 auto; margin-bottom: 20px"
    >
      <div
        fxLayout="column"
        style="font-size: 0.9em; margin-bottom: 10px; margin-top: 10px"
      >
        <span class="main_Name">Admin</span>
        <span class="second_Name"> What can we do?</span>
      </div>

      <button
        mat-button
        *ngIf="isAdmin()"
        [routerLink]="this.route.nomenclature.url"
        color="primary"
        (click)="sideNavToogle()"
        class="button-container"
      >
      <i class="icon bi bi-puzzle" fxFlexAlign="center"></i>
        <span class="button-text-not-relative" fxFlexAlign="center">{{ this.route.nomenclature.name }}</span>
      </button>
      <button mat-button color="primary">Action</button>
      <button mat-button color="primary">Action</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- this outlet is not named, so, only one can be present in the template-->
    <div [@routeAnimation]="getAnimationData(routerOutlet)">
      <router-outlet #routerOutlet="outlet"></router-outlet>
    </div>

    <!-- Use to declare secondary routs -->
  </mat-sidenav-content>
</mat-sidenav-container>
