<mat-stepper orientation="vertical" linear>
  <ng-template matStepperIcon="done" >
    <i class="icofont-restaurant-menu"></i>
  </ng-template>        
  <ng-template matStepperIcon="edit">
    <i class="icofont-spoon-and-fork"></i>
   
  </ng-template>
  <mat-step [stepControl]="ingredient_form">
    <ng-template matStepLabel>Ingredientes</ng-template>
    <ng-template matStepContent>

      <form [formGroup]="ingredient_form">
        <div formArrayName="ingredients" fxLayout="row wrap" fxLayoutGap="10px">
          <div
            *ngFor="let ingredient of ingredients().controls; let i = index"
            [formGroupName]="i"
            fxLayout="row"
          >
            <mat-form-field appearance="fill" fxFlex="100%">
              <mat-label>Producto</mat-label>
              <input appInputHostListener type="text" #searchText placeholder="Selecciona un ingrediente" [matAutocomplete]="auto" matInput formControlName="product">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayOnlyName">
                <mat-option
                  #options                   
                  *ngFor="let product of products | searchFilter : searchText.value"                  
                  [value]="product"
                >
               
                  {{ product.name }}
                </mat-option>
              </mat-autocomplete>
              
           
               <!--  *ngIf="
                  this.ingredient_form.get('ingredients').status === 'INVALID'
                " -->
                
<!--                 <mat-error
                *ngIf="ingredients().controls[i].get('product').touched && ingredients().controls[i].get('product').errors?.repeated"
                >Este ingrediente existe</mat-error
              >  -->
              <mat-error
                *ngIf="(ingredient.get('product').dirty || ingredient.get('product').untouched) && ingredient.get('product').errors?.repeated && ingredient.get('product').invalid"
                >Este ingrediente existe</mat-error
              >
              
            </mat-form-field>      
            <i fxFlexAlign="center" (click)="removeIngredient(i)" class="bi bi-trash-fill delete-btn"></i>
          </div>
         
        </div>
      </form>
      <button
        mat-button
        [disabled]="ingredientProductCounter == 7"
        [disabled]="this.ingredient_form.get('ingredients').status === 'INVALID'"
        (click)="adicionarIngrediente() && $event.preventDefault()"
      >
        Adicionar Ingrediente
      </button>

      <button mat-button matStepperNext [disabled]="ingredientProductCounter < 1" [disabled]="this.ingredient_form.get('ingredients').status === 'INVALID'">Next</button>
     
    </ng-template>
  </mat-step>
  <!-- [stepControl]="difficulty_form" -->
  <mat-step  (click)="$event.preventDefault()">
    <ng-template matStepLabel>Dificultad</ng-template>
    <ng-template matStepContent >
      <!-- [formGroup]="difficulty_form" -->
      <div [ngStyle.xs]="{'margin-top':'1em'}">
      <form >
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <div fxLayout="row">
            <div style="padding-top: 23px;">
              <mat-slider
                style="height: 94%;"
                tickInterval="1"
                step="1"
                min="0"
                max="4"
                vertical
                (input)="dificultyValue($event.value)"
                [(ngModel)]="slideDificultyValue"
                invert
                aria-label="unit(s)"
              ></mat-slider>
            </div>

           
          
            <mat-list>
              <mat-list-item [ngStyle]="{'font-weight' : slideDificultyValue == 0 ? 'bold' : 'normal'}" >Callate y dame todas</mat-list-item>
              <mat-list-item *ngFor="let dific of dificultad, index as i"  [ngStyle]="{'font-weight' : slideDificultyValue == i+1 ? 'bold' : 'normal'}" >{{ dific.name }}</mat-list-item>
            </mat-list>
            
            <!-- <mat-form-field appearance="fill" fxFlex="100%">
              <mat-label>Dificultad</mat-label>
              <mat-select formControlName="difficult">
                <mat-option value="0">
                  Callate y dame todas
                </mat-option>
                <mat-option *ngFor="let dific of dificultad" [value]="dific.id">
                  {{ dific.name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
      </form>
      </div>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step (click)="$event.preventDefault()">
    <ng-template matStepLabel>Nivel de precision</ng-template>
    <ng-template matStepContent>
      <form>
        <div fxLayout="row wrap" fxLayoutGap="10px">
          <div fxLayout="row" fxFlex="100%" style="padding-top: 0px;">

            <div style="padding-top: 23px;">
              <mat-slider
                style="height: 94%;"
                tickInterval="25"
                step="25"
                min="0"
                max="100"
                vertical
                (input)="algo($event.value)"
                [(ngModel)]="slideValue"
                invert
                aria-label="unit(s)"
              ></mat-slider>
            </div>

           
          
            <mat-list [ngStyle.xs]="{'margin-top':'3em'}">
              <mat-list-item [ngStyle]="{'font-weight' : slideValue == 0 ? 'bold' : 'normal'}" [ngStyle.xs]="{'display': slideValue ==0 ? 'inline' : 'none'}" >Solo me interesa el ingrediente: {{mainIngredient()}}</mat-list-item>
              <mat-list-item [ngStyle]="{'font-weight' : slideValue == 25 ? 'bold' : 'normal'  }" [ngStyle.xs]="{'display': slideValue ==25 ? 'inline' : 'none'}" >Me conformo con el ingrediente: {{mainIngredient()}} y algo más</mat-list-item>
              <mat-list-item [ngStyle]="{'font-weight' : slideValue == 50 ? 'bold' : 'normal'  }" [ngStyle.xs]="{'display': slideValue ==50 ? 'inline' : 'none'}">No me importaria que falten la mitad</mat-list-item>
              <mat-list-item [ngStyle]="{'font-weight' : slideValue == 75 ? 'bold' : 'normal'  }" [ngStyle.xs]="{'display': slideValue ==75 ? 'inline' : 'none'}">Trato de cocinar algo decete</mat-list-item>
              <mat-list-item [ngStyle]="{'font-weight' : slideValue == 100 ? 'bold' : 'normal'  }" [ngStyle.xs]="{'display': slideValue ==100 ? 'inline' : 'none'}">Callate y dame todas las recetas</mat-list-item>
            </mat-list>
          </div>
        </div>
        <button
          type="submit"
          mat-button
          (click)="this.submit()"
        >
          Subir
        </button>
      </form>
    </ng-template>
  </mat-step>
</mat-stepper>
