<mat-card    
    [@inOutAnimation]
   
  >
    <img mat-card-image src="{{ recip.img }}" width="150" height="250" />
    <mat-card-header>
      <mat-card-title>{{ recip.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <a
        mat-stroked-button
        [routerLink]="['/recipe', recip.slug]"
        [state]="recip"
        color="primary"
        >Detalles</a
      >
      <button
        mat-stroked-button
        color="primary"
        (click)="instantDetails(recip)"
      >
        Resumen
      </button>
    </mat-card-actions>
  </mat-card>

