.text-overflow-hidden-div{
    overflow: hidden;
    width:95%;


}
.text-overflow-hidden{
    font-size: 1.5em;
    white-space: nowrap; 
    transition: all 1s ease-in;
}

.card-shadow::before{
    content: '';
    z-index: 5000;
    position: absolute;
    border: green 2px solid;
    height: 500px;
    width: 500px;
}

