<form [formGroup]="passwordForm">
<mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input appInputHostListener matInput formControlName="userNewPassword" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <i [ngClass]="!hide ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
    </button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput appInputHostListener formControlName="userNewPasswordSecond"  [type]="hide ? 'password' : 'text'">
    <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <i [ngClass]="!hide ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
    </button>
  </mat-form-field>

  <button mat-stroked-button color="primary" (click)="submitInfo()">Primary</button>
</form>